<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">

        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button (click)="sidebarMinToggle()"
                    class="btn btn-just-icon btn-white btn-fab btn-round mat-raised-button" mat-raised-button="">
                    <span class="mat-button-wrapper">
                        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                        <i class="material-icons visible-on-sidebar-mini">view_list</i></span>
                </button>
            </div>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">

            <ul class="navbar-nav">
                <li class="nav-item person-icon">
                    <button style="float:right" mat-icon-button [matMenuTriggerFor]="menu">
                        <i class="material-icons">person</i>
                    </button>
                    <mat-menu #menu="matMenu" Position="below" class="rightMatMenu">
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                            <span>John Doe</span>
                        </button>
                        <hr class="m-0">
                        <button mat-menu-item>
                            <mat-icon>person_outline</mat-icon>
                            <span>My Profile</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>security</mat-icon>
                            <span>Change password</span>
                        </button>
                        <hr class="m-0">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>lock</mat-icon>
                            <span>Sign Out</span>
                        </button>
                    </mat-menu>
                </li>

            </ul>
        </div>
    </div>
</nav>