<div class="wrapper">
    <div class="sidebar" data-color="primary" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"
            style="background-image: url(../../../../assets/images/angular2-logo-white.png)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <!-- <ng-http-loader [debounceDelay]="100" [extraDuration]="1000" [minDuration]="300" spinner="sk-three-bounce">
        </ng-http-loader> -->
        <router-outlet></router-outlet>
        <!-- <app-footer class="align-content-end"></app-footer> -->
    </div>
</div>