/* You can add global styles to this file, and also import other style files */
@import "assets/scss/styles-material.scss";

html,
body {
  height: 100%;
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 100px;
  }
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 100px;

  }
  *::-webkit-scrollbar-thumb {
    background-color: $brand-primary;
    outline: 3px solid slategrey;
    border-radius: 100px;
  }
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
  padding: 80px 0px 50px 0px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 5px;
  thead {
    tr.mat-header-row {
      height: 40px;
    }
  }
  tbody {
    tr.mat-row td.mat-cell {
      vertical-align: middle;
    }
  }
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  vertical-align: top;
}

.mat-column-ProjectNumber {
  flex: 0 0 100px;
}

.mat-form-field {
  width: 100%;
}
.mat-cell {
  font-size: 12px;
}

.Form-container {
  width: 99%;
  margin: auto;
}

.copyright {
  font-size: 14px;
  color: $gray-color;
  text-transform: capitalize;
}

.col-width-15 {
  width: 15%;
}

.swal2-container {
  .swal2-popup {
    width: 30%;
    max-height: 80%;
    @media (max-width: 1024px) {
      width: 80%;
    }
  }
  .swal2-warning {
    margin: 3px;
  }
  .swal2-title {
    font-size: 22px;
  }
  .swal2-content {
    font-size: 17px;
  }
  .swal2-actions {
    font-size: 13px;
  }
  .swal2-warning {
    font-size: 12px;
  }
}

// .swal2-container {
//   .swal2-popup {
//     width:25em;
//     .swal2-header {
//       .swal2-icon {
//         width: 3em;
//         height:3em;
//         &:before {
//           font-size: 2.75em;
//         }
//       }
//       .swal2-title {
//         font-size: 21px;
//         font-weight: 400;
//       }
//     }
//     .swal2-content {
//       font-size: 16px;
//     }
//     .swal2-actions {
//       .swal2-confirm.swal2-styled {
//         outline: 0;
//         border: 0;
//         box-shadow: none;
//         &:focus {
//           outline: 0;
//           box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
//         }
//         &:hover {
//           outline: 0;
//           box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
//         }
//       }
//       .swal2-styled.swal2-cancel {
//         &:focus {
//           outline: 0;
//           box-shadow:0 14px 26px -12px rgba(138, 138, 138, 0.58), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(243, 242, 243, 0.61);
//         }
//         &:hover {
//           outline: 0;
//           box-shadow:0 14px 26px -12px rgba(138, 138, 138, 0.58), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(243, 242, 243, 0.61);

//         }

//       }
//       button.swal2-styled {
//         font-size: 14px;
//       }
//     }
//   }
// }

.mat-tree {
  .mat-tree-node {
    height: 35px;
    min-height: 35px;
  }
}
.card {
  .card-header {
    h4.card-title {
      position: relative;
      .btn-add {
        position: absolute;
        right: 10px;
        top: -5px;
        .mat-button-wrapper {
          .material-icons {
            font-size: 22px;
            color: $white-color;
          }
        }
      }
    }
  }
}

.mat-menu-content {
  @media (max-width: 1024px) {
    display: block;
  }
  .mat-menu-item {
    color: #3c4858;
    font-weight: 300;
    .mat-icon {
      margin-right: 6px;
      color: #a9afbb;
    }
  }
}

.createNew {
  text-align: right;
}

.lds-circle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-circle:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin: 6px;
  box-sizing: border-box;
  background: url(/assets/images/loaderImage.png) no-repeat center center;
  // border: 60px solid rgb(255, 255, 255);
  // border-color: $brand-primary transparent $brand-primary transparent;

  animation: lds-circle 11.8s linear infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.9, 0.9, 0.9, 0.9);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0.9, 0.9, 0.9, 0.9);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.associateUser {
  .TeamNodesPadding {
    padding-left: 25px;
  }
  .text-danger {
    padding-left: 50px;
  }
}
.associateTeam {
  position: relative;
  padding-left: 20px;
  min-height: 35px;
  &:before {
    content: "";
    position: absolute;
    border-left: 1px solid $brand-primary;
    left: 20px;
    z-index: 9;
    height: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    border-top: 1px solid $brand-primary;
    left: 20px;
    z-index: 9;
    width: 14px;
    top: 19px;
  }
  .mat-form-field {
    padding-left: 50px;
    @media (max-width: 601px) {
      display: inline-block;
      width: auto;
    }
  }

  .mat-form-field-infix {
    border-top: 0;
  }
  @media (max-width: 601px) {
    .btn-inline {
      display: inline-block;
      width: auto;
    }
  }
}
.dashboard-container {
  margin: 0 20px;
  padding-bottom: 1%;
  .mat-button-wrapper {
    .iconSpace {
      font-size: 22px;
      margin-right: 10px;
    }
  }
}
.mat-paginator {
  margin-bottom: 10px;
  .mat-paginator-outer-container {
    .mat-paginator-container {
      .mat-icon-button:hover,
      .mat-icon-button:active {
        background: $brand-primary;
        color: $white-color;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 1024px) {
    margin-top: 10px;
  }
}
.table-responsive .table-bordered {
  thead {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  }
}
.table-responsive {
  table {
    thead {
      th.mat-header-cell:first-of-type {
        padding-left: 12px;
      }
    }
    tbody {
      td.mat-cell:first-of-type {
        padding-left: 12px;
      }
    }
    td.mat-footer-cell:first-of-type {
      padding-left: 12px;
    }
  }
}

.login-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 20px;
  background: $white-color;
  border-radius: 15px;
  width: 25%;
  padding: 15px;
  .logo img {
    height: 150px;
  }
  .login-loader {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  @media (max-width: 1024px) {
    width: 40%;
  }
  @media (max-width: 601px) {
    width: 60%;
  }
  @media (max-width: 420px) {
    width: 90%;
  }
}

.logo a {
  text-transform: unset;
}
.sidebar-wrapper {
  @media (max-width: 1024px) {
    margin-top: 0;
  }
  ul.nav-mobile-menu {
    display: block;
    margin: 20px auto 0;
    position: relative;
    border-bottom: 0;
    box-shadow: none;
    margin-bottom: 10px;

    &::after {
      margin: 20px auto 0;
      position: relative;
      border-bottom: 0;
      box-shadow: none;
      content: "";
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: rgba(180, 180, 180, 0.4);
    }

    ul.dropdown-menu {
      transform: translateY(-12px) !important;
      box-shadow: none;
      background: transparent;

      opacity: 0;
      visibility: hidden;
      transition: all 2s ease-in;
      -o-transition: all 2s ease-in;
      -ms-transition: all 2s ease-in;
      -moz-transition: all 2s ease-in;
      -webkit-transition: all 2s ease-in;
      overflow: hidden;
      max-height: 0px;

      li a.dropdown-item {
        color: $black-color;
        .mat-icon {
          color: #a9afbb;
          margin-right: 10px;
        }
      }
    }

    ul.dropdown-menu.show {
      visibility: visible;
      opacity: 1;
      max-height: 500px;
    }
  }
  ul.nav {
    margin-top: 0;
  }
}
.sidebar-mini .sidebar .sidebar-wrapper {
  overflow-x: hidden;
}
.sidebar-mini {
  .sidebar {
    .sidebar-background {
      width: 90%;
      left: 4px;
      bottom: 55px;
    }
    z-index: 9999;
  }
}
@media (max-height: 420px) {
  .sidebar .nav li.active > a i {
    width: 23px;
  }
}

@media (max-width: 1024px) {
  .sidebar .sidebar-wrapper {
    margin-top: 10px;
  }
  .navbar .navbar-toggler {
    height: 38px;
  }
  .createNew {
    text-align: center;
  }
  .full-height {
    height: 100vh;
  }
  .mat-paginator-outer-container {
    margin-top: 10px;
  }
  .mat-checkbox-layout,
  .mat-radio-label-content {
    white-space: normal !important;
  }
}

@media (max-width: 991px) {
  .full-height {
    height: 100vh;
  }
}

.mat-table {
  tbody {
    tr.mat-row {
      td {
        .cdk-program-focused .mat-button-focus-overlay,
        .cdk-focused .mat-button-focus-overlay {
          opacity: 0;
        }
      }
    }
  }
}
.mat-button-focus-overlay {
  opacity: 0;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.card-profile {
  .card-background {
    background: $white-color;
    height: 50%;
  }
}
.padding-top-10 {
  padding-top: 15px;
}

.side-bar-badges-menu {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $brand-danger;
  color: #fff;
  margin-left: 0;
  top: 7px;
  font-size: 11px;
  left: 25px;
  position: absolute;
  padding: 0;
  text-align: center;
  line-height: 21px;
}